*{
	-webkit-user-select:none;
	box-sizing:border-box;
	color:#9f9f9f;
	margin:0;
	outline:none;
	overflow:hidden;
	user-select:none;
}
@font-face{
	font-family:UbuntuSans;
	src:url(fonts/UbuntuSans-Regular.ttf);
}
@font-face{
	font-family:UbuntuSansBold;
	src:url(fonts/UbuntuSans-SemiBold.ttf);
}
body{
	background-color:#000;
	font-family:UbuntuSans;
}
canvas{
	animation:blurOff 1s;
	left:0;
	position:absolute;
	top:0;
	width:100vw;
}
label{
	cursor:pointer;
	font-size:16px;
	position:absolute;
}
.blocked,
.blocked label{
	animation:none;
	color:#333;
	pointer-events:none;
}
.dark{
	animation:none;
	color:#555;
}
.hiddenPerm,.hiddenTemp{
	display:none!important;
}
#loadFiles{
	font-size:32px;
	left:20px;
	top:10px;
}
#loadFiles:hover{
	color:#eee;
}
/*	Options	*/
#optionsMenus{
	background:rgba(0,0,0,.6);
	display:flex;
	gap:40px;
	height:100%;
	padding:40px;
	position:absolute;
	width:100%;
	z-index:1;
	>div{
		flex:1;
		backdrop-filter:blur(10px);
		background-color:rgba(255,255,255,.1);
		border-radius:30px;
		padding:10px;
	}
	>div:before{
		content:attr(title);
		display:block;
		font-size:2em;
		padding:.5rem;
	}
}
.optionsGroup{
	padding:5px 0 10px 20px;
}
/*	Hotkey indicators	*/
/*		General	*/
.hotkeyIndicator{
	border-radius:40px 0 0 40px;
	border:3px solid #333;
	color:#333;
	cursor:pointer;
	height:40px;
	overflow:visible;
	position:absolute;
	right:-160px;
	transition:border .5s,color .5s;
	width:200px;
}
.hotkey{
	color:inherit;
	font-size:32px;
	left:14px;
	position:absolute;
}
/*	Animations	*/
/*		Blur	*/
@keyframes blurOff{
	0%{
		filter:blur(3px);
	}
	100%{
		filter:blur(0px);
	}
}