/*Constants*/
body{
	-webkit-user-select:none;
	animation:highlightOff .5s;
	background-color:#000;
	color:#aaa;
	cursor:default;
	font-family:Ubuntu;
	margin:0;
	overflow:hidden;
	user-select:none;
}
canvas{
	animation:blurOff 1s;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
label{
	padding:6px;
}
label:hover{
	animation:highlightOn .5s forwards;
	cursor:pointer;
}
.hidden{
	display:none;
}
/*Interactables*/
#loadFiles{
	left:20px;
	position:absolute;
	top:20px;
}
#scale{
	position:absolute;
	left:20px;
	text-decoration:underline;
	top:60px;
}
#scaleActive{
	position:absolute;
	left:30px;
	top:80px;
}
#allocation{
	position:absolute;
	right:20px;
	text-decoration:underline;
	top:20px;
}
.systemAllocation{
	position:absolute;
	right:30px;
	top:40px;
}
#style{
	position:absolute;
	right:20px;
	text-decoration:underline;
	top:80px;
}
#styleActive{
	position:absolute;
	right:30px;
	text-decoration:underline;
	top:100px;
}
#viewed{
	position:absolute;
	right:20px;
	text-decoration:underline;
	top:140px;
}
.galaxyViewed{
	position:absolute;
	right:30px;
}
/*Blur*/
.blurred{
	animation:blurOn 1s forwards;
}
@keyframes blurOn{
	100%{filter:blur(3px);}
}
@keyframes blurOff{
	0%{filter:blur(3px);}
	100%{filter:blur(0px);}
}
/*Highlight*/
@keyframes highlightOn{
	100%{color:#eee;}
}
@keyframes highlightOff{
	0%{color:#eee;}
	100%{color:#aaa;}
}