/*	Constants	*/
*{
	-webkit-user-select:none;
	color:#9f9f9f;
	font-family:Ubuntu;
	margin:0;
	outline:none;
	overflow:hidden;
	user-select:none;
}
body{
	animation:highlightOff .5s;
	background-color:#000;
}
canvas{
	animation:blurOff 1s;
	left:0;
	position:absolute;
	top:0;
	width:100vw;
}
label{
	-webkit-animation:highlightOff .5s;
	animation:highlightOff .5s;
	font-size:16px;
	position:absolute;
}
label:hover{
	animation:highlightOn .5s forwards;
	cursor:pointer;
}
.blocked,
.blocked label{
	animation:none;
	color:#333;
	pointer-events:none;
}
.dark,
.dark:hover{
	animation:none;
	color:#333;
}
.hidden{
	display:none;
}
/*	Load	*/
#loadFiles{
	font-size:32px;
	left:20px;
	top:10px;
}
/*	Menu Cycles	*/
#display{
	left:250px;
	top:30px;
}
#ownership{
	left:310px;
	top:30px;
}
#galaxy{
	left:395px;
	top:30px;
}
/*	System Details	*/
#systemName{
	font-size:18px;
	left:20px;
	top:70px;
}
#systemPosition{
	left:20px;
	top:100px;
}
#selectedHabitation{
	left:20px;
	top:100px;
}
/*	Blur	*/
@keyframes blurOff{
	0%{filter:blur(3px);}
	100%{filter:blur(0px);}
}
/*	Highlight	*/
@keyframes highlightOff{
	0%{color:#eee;}
	100%{color:#9f9f9f;}
}
@keyframes highlightOn{
	100%{color:#eee;}
}