/*	Constants	*/
*{
	-webkit-user-select:none;
	color:#9f9f9f;
	font-family:Ubuntu;
	margin:0;
	outline:none;
	overflow:hidden;
	user-select:none;
}
body{
	animation:highlightOff .5s;
	background-color:#000;
}
canvas{
	animation:blurOff 1s;
	left:0;
	position:absolute;
	top:0;
	width:100vw;
}
label{
	-webkit-animation:highlightOff .5s;
	animation:highlightOff .5s;
	font-size:16px;
	position:absolute;
}
label:hover{
	animation:highlightOn .5s forwards;
	cursor:pointer;
}
/*	General	*/
.blocked,
.blocked label{
	animation:none;
	color:#333;
	pointer-events:none;
}
.dark,
.dark:hover{
	animation:none;
	color:#333;
}
.hiddenPerm,.hiddenTemp{
	display:none;
}
/*	Menu bar	*/
/*		Load	*/
#loadFiles{
	font-size:32px;
	left:20px;
	top:10px;
}
/*	Menu bar	*/
/*		Cycles	*/
#cycles{
	left:250px;
	position:absolute;
	top:10px;
}
#display,#ownership,#galaxy{
	padding:0 3px 0 3px;
	position:relative;
}
/*	Hotkey indicators	*/
/*		General	*/
.hotkeyIndicator{
	border-radius:40px 0 0 40px;
	border:3px solid #333;
	color:#333;
	cursor:pointer;
	height:40px;
	overflow:visible;
	position:absolute;
	right:-160px;
	transition:border .5s,color .5s;
	width:200px;
}
.hotkey{
	color:inherit;
	font-size:32px;
	left:14px;
	position:absolute;
}
.descriptor{
	color:inherit;
	pointer-events:none;
	position:absolute;
	right:220px;
	text-align:right;
	top:10px;
	transition:opacity .5s linear 1s;
	width:1000px;
}
.hotkeyIndicator .descriptor{
	opacity:0;
}
.hotkeyIndicator:hover .descriptor{
	opacity:1;
	transition:opacity .5s;
}
.activeMode{
	border:3px solid #9f9f9f;
	color:#9f9f9f;
}
/*	Hotkey indicators	*/
/*		Specificities	*/
#systemSelection{
	top:120px;
}
#rangeCheck{
	top:180px;
}
#zoomOut{
	top:240px;
}
#zoomIn{
	top:300px;
}
/*	System Details	*/
#systemName{
	left:20px;
	top:70px;
}
#systemPosition{
	left:20px;
	top:100px;
}
#selectedCount{
	left:20px;
	top:130px;
}
#selectedHabitation{
	left:20px;
	top:160px;
}
#systemTrade{
	left:20px;
	bottom:20px;
}
table{
	border-spacing:0;
	font-size:80%;
}
td{
	min-width:40px;
	padding-right:15px;
}
th{
	text-align:left;
}
/*	Animations	*/
/*		Blur	*/
@keyframes blurOff{
	0%{filter:blur(3px);}
	100%{filter:blur(0px);}
}
/*	Animations	*/
/*		Highlight	*/
@keyframes highlightOff{
	0%{color:#eee;}
	100%{color:#9f9f9f;}
}
@keyframes highlightOn{
	100%{color:#eee;}
}